*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title{
    text-align: center;
    font-size: 60px;
}

.turno{
    text-align: center;
}

.celda-container{
    display: grid;
    grid-template-columns: 80px 80px 80px;
    width: 240px;
    margin: 0 auto;
    margin-top: 60px;
    cursor: pointer;
}

.celda{
    height: 80px;
    width: 80px;
    border: 2px solid black;
    border-radius: 5px ;
    font-size: 60px;
    text-align: center;
}  

.btn-restart{
    background-color: aqua;
    width: 200px;
    height: 50px;
    font-size: 30px;
    border-radius: 10px ;
    display: block;
    margin: 20px auto;
    cursor: pointer;
}

.footer{
    text-align: center;
    color: gray;
    margin-top: 100px;
}

